---
import moment from "moment";
import { Image } from "astro:assets";
import NoImage from "/public/image/ubs.jpg";
import TagList from "./TagList.astro";
const { article } = Astro.props;
---

<div class="widget-list">
  <a href={`/articles/${article.slug}/`}>
    <div
      class="widget-item cursor-pointer border-b-2 border-gray-100 hover:bg-gray-100 grid grid-cols-3 tablet:grid-cols-4 gap-4 p-2.5 desktop:p-4 items-between"
    >
      <div
        class="widget-content text-a-gray-696F6F hover:text-a-black-0B0B0B col-span-2 tablet:col-span-3 text-20"
      >
        <div class="flex gap-2 items-center">
          <TagList
            tags={article.acf?.tag}
            badge={`border-none text-gray-500 bg-transparent p-0`}
          /> •
          <h4 class="text-gray-400">
            {moment(article.date).format("DD/MM/YYYY")}
          </h4>
        </div>
        <h5 class="text-2-line" set:html={article.title.rendered} />
      </div>
      <div class="widget-image ml-auto">
        <img
          src={article.acf.cover_image}
          alt={article.title.rendered}
          class="object-cover object-top hover:scale-110 duration-700 rounded-md shadow-md"
        />
      </div>
    </div>
  </a>
</div>

<style scoped>
  .widget-image {
    position: relative;
    width: 75px;
    height: 75px;
  }
  .widget-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  @media (max-width: 1023px) {
    .widget-image {
      position: relative;
      width: 60px;
      height: 60px;
    }
  }
</style>
