---
import Layout from "../../layouts/Layout.astro";
import MainBanner from "../../components/Banner/MainBanner.astro";
import SpeakerCard from "./SpeakerCard.astro";
// import UniqueType from "../../components/uniqueType.astro";

import Pagination from "../Pagination.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { allSpeaker, currentPage, perPage } = Astro.props;

const start = (currentPage - 1) * perPage;
const end = start + perPage;
const paginatedSpeaker = allSpeaker.slice(start, end);

const totalPages = Math.ceil(allSpeaker.length / perPage);
const homeSlug = `/`;
const speakerSlug = `/speaker`;
---

<Layout
  title={`วิทยากร หลักสูตรTEPCoT| ${t("university")}`}
  description={`${t("news.description")}`}
  lang={lang}
  isMenu={true}
>
  <MainBanner
    title={"วิทยากรผู้ถ่ายทอดประสบการณ์จริงจากองค์กรชั้นนำ"}
    description={"เสียงสะท้อนความประทับใจจากผู้บริหารที่ร่วมเป็นส่วนหนึ่งของหลักสูตร TEPCoT"}
  />
  <div class="bg-a-yellow-FFF4DF">
    <div class="px-4 sm:px-16">
      <div class="container mx-auto">
        <Breadcrumbs
          items={[
            { label: "หน้าหลัก", href: homeSlug },
            { label: "วิทยากร TEPCoT" },
            { label: "" },
          ]}
        />
        <div class="pb-8">
          <div>
            <h3 class="text-30 md:text-44 font-bold mb-4">
              วิทยากรผู้ถ่ายทอดประสบการณ์จริงจากองค์กรชั้นนำ
            </h3>
            <h4 class="text-20 md:text-24 max-w-7xl opacity-90 font-light mb-8">
              TEPCoT ภูมิใจนำเสนอผู้บริหารหลักสูตรและวิทยากรระดับแนวหน้าที่มีประสบการณ์จริงในการบริหารองค์กรชั้นนำ ผสมผสานระหว่างนักวิชาการผู้ทรงคุณวุฒิและผู้บริหารระดับ C-Suite จากองค์กรชั้นนำทั้งในและต่างประเทศ ทำให้ผู้เข้าร่วมโปรแกรมได้รับความรู้ที่ลึกซึ้งทั้งทางทฤษฎีและประสบการณ์จริงที่สามารถนำไปประยุกต์ใช้ได้ทันที
            </h4>
          </div>
          <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-16">
            {paginatedSpeaker.sort((a, b) => a.title.rendered.localeCompare(b.title.rendered)).map((speaker) => <SpeakerCard p={speaker} />)}
          </div>
          <Pagination
            currentPage={currentPage}
            totalPages={totalPages}
            baseUrl={speakerSlug}
          />
          
        </div>
      </div>
    </div>
  </div>
</Layout>
