---
import Layout from "../layouts/Layout.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

// components
import HeroLayout from "../layouts/HeroLayout.astro";
import FaqsFetchAPI from "../components/Faq/FaqFetchAPI.vue";
import PartnerSection from "../components/Partner/PartnerSection.vue";
import AlumniSection from "../components/Alumni/AlumniSection.astro";
import ArticleSection from "../components/Blogs/ArticleSection.astro";
import BlogSection from "../components/Blogs/BlogSection.astro";
import Course from "../components/course/index.vue";
import OverViewSection from "../components/AboutUs/OverViewSection.vue";
// import DownloadBanner from "../components/Shared/DownloadBanner.vue";
// import TargetAudience from "../components/AboutUs/TargetAudience.vue";
// import ThumbsGallery from "../components/SlideShow/ThumbsGallery.vue";
import Speakers from "../components/course/Speakers.astro";
import PartnerSwiperUtcc from "../components/Partner/PartnerSwiperUtcc.vue";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const title = "TEPCoT หลักสูตรผู้บริหารระดับสูงด้านการค้าและการพาณิชย์";
const description = "Top Executive Program in Commerce and Trade";
const keywords =
  "TEPCoT, หลักสูตรผู้บริหาร, การค้า, การพาณิชย์, Executive Education, Leadership, Business Management";
const slogan = "พัฒนาผู้นำยุคใหม่ สู่ความเป็นเลิศทางการค้าและการพาณิชย์";

// const items = [
//   {
//     imageUrl: "https://picsum.photos/seed/tepcot-01/1600/900",
//     title: { th: "TEPCoT Module 1", en: "TEPCoT Module 1" },
//     subtitle: {
//       th: "Environment Analysis (Outside-In)",
//       en: "Environment Analysis (Outside-In)",
//     },
//   },
//   {
//     imageUrl: "https://picsum.photos/seed/tepcot-02/1600/900",
//     title: { th: "TEPCoT Module 2", en: "TEPCoT Module 2" },
//     subtitle: { th: "Strategy & Execution", en: "Strategy & Execution" },
//   },
//   {
//     imageUrl: "https://picsum.photos/seed/tepcot-03/1600/900",
//     title: { th: "TEPCoT Module 3", en: "TEPCoT Module 3" },
//     subtitle: {
//       th: "Leadership & Transformation",
//       en: "Leadership & Transformation",
//     },
//   },
//   {
//     imageUrl: "https://picsum.photos/seed/tepcot-04/1600/900",
//     title: { th: "Business Matching", en: "Business Matching" },
//     subtitle: {
//       th: "Case workshop + networking",
//       en: "Case workshop + networking",
//     },
//   },
// ];
---

<Layout
  title={t("site.title")}
  description={t("site.description")}
  lang={lang}
  keywords={keywords}
  slogan={slogan}
>
  <HeroLayout title={title} description={description} />
  <!-- <div class="container mx-auto my-8">
      <DownloadBanner lang={lang} client:idle />
    </div> -->
  <section id="about-us" class="bg-white py-8 md:py-16">
    <div class="max-w-5xl mx-auto px-4 md:px-0 text-center">
      <h1
        class="leading-none font-bold topic-h2 text-center text-a-blue-030e62 text-44 md:text-64"
      >
        หลักสูตรผู้บริหารระดับสูงด้านการค้าและการพาณิชย์
      </h1>
      <h2
        class="text-30 max-w-5xl md:text-44 text-blue-950 text-center mx-auto font-light"
      >
        Top Executive Program in Commerce and Trade
      </h2>
    </div>
    <PartnerSection client:idle lang={lang} />
  </section>
  <section id="overview" class="max-w-7xl mx-auto">
    <OverViewSection client:idle lang={lang} />
  </section>
  <!-- <section id="target-audience">
    <TargetAudience client:idle lang={lang} />
  </section> -->
  <!-- <section id="curriculum">
    <CurriculumSection client:idle />
  </section> -->
  <!-- <HorizontalSnapSections cclient:idle /> -->
  <!-- <FullPageSnap client:idle /> -->
  <!-- <AboutUs client:idle lang={lang} button={t("aboutUs.button")} /> -->
  <section id="course" class="bg-[#FAFAFF] skeleton">
    <div class="">
      <Course client:idle />
    </div>
  </section>
  <section id="speakers" class="skeleton">
    <Speakers client:idle />
  </section>
  <!-- <section id="experience-hero" class="">
      <div class="md:max-w-7xl mx-auto px-4 md:px-8">
        <ThumbsGallery
          client:idle
          items={items}
          lang="th"
          autoplay={true}
          autoplayDelay={3500}
        />
      </div>
  </section> -->
  <!-- <SwiperPromo client:idle /> -->
  <FaqsFetchAPI client:idle lang={lang} />
  <AlumniSection className="py-24" />
  <ArticleSection />
  <BlogSection />
</Layout>
