---
import Layout from "../layouts/Layout.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

// components
import HeroLayout from "../layouts/HeroLayout.astro";
import FaqsFetchAPI from "../components/Faq/FaqFetchAPI.vue";
import PartnerSection from "../components/Partner/PartnerSection.vue";
import AlumniSection from "../components/Alumni/AlumniSection.astro";
import ArticleSection from "../components/Blogs/ArticleSection.astro";
import BlogSection from "../components/Blogs/BlogSection.astro";
import Course from "../components/course/index.vue";
import OverViewSection from "../components/AboutUs/OverViewSection.vue";
// import DownloadBanner from "../components/Shared/DownloadBanner.vue";
import TargetAudience from "../components/AboutUs/TargetAudience.vue";
import CurriculumSection from "../components/course/CurriculumSection.vue";
import FullPageSnap from "../components/motion/FullPageSnap.vue";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const title = "TEPCoT หลักสูตรผู้บริหารระดับสูงด้านการค้าและการพาณิชย์";
const description = "Top Executive Program in Commerce and Trade";
const keywords =
  "TEPCoT, หลักสูตรผู้บริหาร, การค้า, การพาณิชย์, Executive Education, Leadership, Business Management";
const slogan = "พัฒนาผู้นำยุคใหม่ สู่ความเป็นเลิศทางการค้าและการพาณิชย์";
---

<Layout
  title={t("site.title")}
  description={t("site.description")}
  lang={lang}
  keywords={keywords}
  slogan={slogan}
>
  <HeroLayout title={title} description={description} />
  <!-- <div class="container mx-auto my-8">
      <DownloadBanner lang={lang} client:idle />
    </div> -->
  <section id="about-us" class="bg-white py-8 md:py-16">
    <div class="max-w-5xl mx-auto px-4 md:px-0 text-center">
      <h1
        class="leading-none font-bold topic-h2 text-center text-a-blue-030e62 text-44 md:text-64"
      >
        หลักสูตรผู้บริหารระดับสูง<br
          class="block md:hidden"
        />ด้านการค้าและการพาณิชย์
      </h1>
      <h2 class="text-24 md:text-44 text-blue-950 text-center">
        Top Executive Program in Commerce and Trade
      </h2>
    </div>
    <PartnerSection client:idle lang={lang} />
  </section>
  <section id="overview">
    <OverViewSection client:idle lang={lang} />
  </section>
  <section id="target-audience">
    <TargetAudience client:idle lang={lang} />
  </section>
  <!-- <section id="curriculum">
    <CurriculumSection client:idle />
  </section> -->
  <!-- <HorizontalSnapSections cclient:idle /> -->
  <!-- <FullPageSnap client:idle /> -->
  <!-- <AboutUs client:idle lang={lang} button={t("aboutUs.button")} /> -->
  <section id="course" class="bg-[#FAFAFF] skeleton">
    <Course client:idle />
  </section>
  <!-- <SwiperPromo client:idle /> -->
  <FaqsFetchAPI client:idle lang={lang} />
  <AlumniSection className="py-24" />
  <ArticleSection />
  <BlogSection />
</Layout>
