---
import Layout from "../../layouts/Layout.astro";
import MainBanner from "../../components/Banner/MainBanner.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { Icon } from "astro-icon/components";
import ButtonShare from "../../components/Button/ButtonShare.vue";
import { getCoverImage } from "../../scripts/getCoverImage";
import { cleanText } from "../../scripts/cleanText";
import PrevNext from "../../components/Blogs/PrevNext.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";

const uri = import.meta.env.PUBLIC_API_WP_ALUMNI;
const { slug } = Astro.params;
const reqUrl = `?per_page=20&_embed&acf_format=standard`;
// const res = await fetch(uri + `${reqUrl}&slug=${slug}`, { mode: "cors" });
// const [post] = await res.json();
const res = await fetch(uri + `${reqUrl}`, { mode: "cors" });
const allAlumni = await res.json();

const currentIndex = allAlumni.findIndex((a) => a.slug === slug);
if (currentIndex === -1) {
  throw new Error("Alumni not found");
}

const [post] = currentIndex !== -1 ? [allAlumni[currentIndex]] : [null];
const cleanTitle = cleanText(post.title.rendered);
const cleanExcerpt = cleanText(post.acf.company);
// ดึงรูปขนาด Medium (ถ้ามี) หรือถอยไปใช้ source_url
const cleanImageUrl = post.acf?.image || post._embedded?.["wp:featuredmedia"]?.[0]?.media_details?.sizes?.medium?.source_url || post._embedded?.["wp:featuredmedia"]?.[0]?.source_url;
const cleanKeywords = post.acf?.keywords || `${cleanTitle}, ${cleanExcerpt}, ${post.acf?.gen?.name}`;

// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.
export async function getStaticPaths() {
  const uri = import.meta.env.PUBLIC_API_WP_ALUMNI;
  const data = await fetch(uri + "?per_page=100&acf_format=standard");
  const posts = await data.json();

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post, posts },
  }));
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { posts } = Astro.props;
const homeSlug = `/`;
const alumniSlug = `/alumni`;
const site = Astro.site;
const urlOtherAlumni = `${site}alumni/${post.slug}`;
---

<script
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>

<Layout
  title={`${cleanTitle} | ${t("name")} ${t("university")}`}
  description={`${cleanExcerpt}`}
  lang={lang}
  isMenu={true}
  keywords={`${cleanKeywords}, ${t("name")}, ${t("university")}`}
  image={getCoverImage(post.featured_media)}
>
  <MainBanner
    description="ทำเนียบผู้สำเร็จการศึกษา"
    title={cleanTitle}
  />
  <div class="text-a-black-1F2937">
    <div class="px-4 sm:px-16">
      <div class="container mx-auto">
        <Breadcrumbs
          items={[
            { label: "หน้าหลัก", href: homeSlug },
            { label: "ทำเนียบผู้สำเร็จการศึกษา", href: alumniSlug },
            { label: "" },
          ]}
        />

        {
          post && (
            <section class="py-4">
              <div class="flex flex-col md:flex-row gap-8">
                <div class="md:w-1/5">
                  <img
                    src={
                      post.acf?.image
                        ? post.acf.image
                        : cleanImageUrl
                    }
                    alt={cleanTitle}
                    class="w-1/2 md:w-3/4 lg:w-full h-auto object-cover rounded-lg mx-auto"
                  />
                </div>
                <div class="md:w-4/5 flex flex-col gap-4">
                  <h1 class="text-24 md:text-36 font-bold">{cleanTitle} — {post.acf?.gen?.name}</h1>
                  <div class="text-gray-600">{post.acf.company}</div>
                  <div class="flex items-center gap-4 text-gray-500">
                    <div class="indent-8 text-justify">{post.acf?.text}</div>
                  </div>
                </div>
              </div>
              <div class="flex justify-between items-center">
                <PrevNext items={posts} currentSlug={slug} basePath={`${alumniSlug}`} />
                <ButtonShare client:visible url={urlOtherAlumni} isBlog={true} />
              </div>
            </section>
          )
        }
      </div>
    </div>
  </div>
</Layout>
