---
import Layout from "../../../layouts/Layout.astro";
import MainBanner from "../../../components/Banner/MainBanner.astro";
import UniqueType from "../../../components/Blogs/uniqueType.astro";
import BlogCard from "../../../components/Blogs/BlogCard.astro";

import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

//-- get path for category page --//

export async function getStaticPaths() {
  const uri = import.meta.env.PUBLIC_API_WP_BLOG_TYPE;
  const reqUrl = "?acf_format=standard&_fields=id,slug,name";
  const data = await fetch(uri + `${reqUrl}`);
  const type = await data.json();

  return type.map((type) => ({
    params: { category: type.slug },
    props: { type: type },
  }));
}
const type = Astro.props;
const blogType = type.type;

const uri = import.meta.env.PUBLIC_API_WP_BLOG;
const reqUrl = "?per_page=100&_embed&acf_format=standard";
const data = await fetch(uri + `${reqUrl}`);
const blogs = await data.json();

const filteredType = blogs.filter((blog) => {
  if (blog.acf.category && blog.acf.category.slug === blogType.slug) {
    return true;
  }
  return false;
});

const homeSlug = `/`;
const blogSlug = `/blogs`;
---

<Layout
  title={`${t("blog.title")} | ${t("name")}`}
  description={`${t("blog.description")}`}
  lang={lang}
  isMenu={true}
>
  <MainBanner title={blogType.name} description={"BLOG"} />
  <div class="text-a-black-0B0B0B bg-a-blue-E9F0FF">
    <div class="px-4">
      <div class="container mx-auto">
        <div class="text-sm breadcrumbs pt-10">
          <ul class="text-36 flex flex-wrap flex-col md:flex-row">
            <li class="mb-4 md:mb-0"><a href={homeSlug}>หน้าหลัก</a></li>
            <li class="mb-4 md:mb-0">
              <a href={blogSlug}>{t("blog.title")}</a>
            </li>
            <li class="mb-4 md:mb-0">{blogType.name}</li>
            <!-- <li></li> -->
          </ul>
        </div>
        <div class="blog py-16">
          <div id="blog-container">
            <div class="category mb-12">
              <div class="grid grid-cols-2 md:grid-cols-5 gap-0 md:gap-8">
                <div class="col-span-2 md:col-span-4 mb-4 md:mb-0">
                  {
                    filteredType.length >= 1 ? (
                      filteredType
                        .slice(0, 1)
                        .map((blog) => <BlogCard blog={blog} />)
                    ) : (
                      <div class="text-center text-a-gray-696F6F p-4">
                        <p>ยังไม่มีบทความในหมวด {blogType.name}</p>
                      </div>
                    )
                  }
                  <div class="grid grid-cols-2 gap-4 mt-6">
                    {
                      filteredType
                        .slice(1)
                        .map((blog) => <BlogCard blog={blog} />)
                    }
                  </div>
                </div>
                <div class="col-span-2 md:col-span-1">
                  <UniqueType />
                </div>
              </div>

              <!-- <div class="grid grid-cols-2 md:grid-cols-3 gap-4 lg:gap-6">
                {
                  filteredType.length >= 1 ? (
                    filteredType.map((articleList) => (
                      <BlogCard blog={articleList} />
                    ))
                  ) : (
                    <div class="col-span-2">
                      <div class="text-center text-a-gray-696F6F p-4">
                        <p>ยังไม่มีบทความในหมวดนี้</p>
                      </div>
                    </div>
                  )
                }
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
<style lang="scss" scoped>
  .breadcrumbs {
    overflow-x: visible;
    > ul,
    > ol {
      align-items: start;
    }
  }
</style>
